.Quiz {
    --jq-multiple-choice-bg: transparent;
    --jq-many-choice-bg: transparent;
    --jq-numeric-bg: transparent;
    --jq-string-bg: transparent;
    --jq-text-color: inherit !important;
    font-size: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
}

.Quiz *,
.Quiz {
    color: inherit !important;
}

.MCButton,
.Input-text,
.Feedback,
.MultipleChoiceQn,
.ManyChoiceQn,
.NumericQn,
.StringQn {
    border-radius: 0 !important;
}
.MCButton {
    background: transparent !important;
    box-shadow: none !important;
}
.Question,
.Prompt {
    font-size: inherit !important;
    font-weight: inherit !important;
}

.myst-made-with-myst svg {
    display: none;
}

.myst-made-with-myst span {
    font-size: 0;
}

.myst-made-with-myst span::after {
    content: "4BC10";
    display: block;
    font-size: 0.875rem;
    font-weight:500;
}